html {
  background-image: url("grocery_back.jpg");
  background-size: 100%;
}

header {
  text-align: center;
}

h1 {
  font-family: Georgia;
  font-size: 5vw;
  color: goldenrod;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

p {
  margin-left: 30%;
  margin-right: 30%;
  font-size: 1.5vw;
  color: darkgoldenrod;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

main {
  font-family: Verdana;
  font-size: 2vw; 
  text-align: center;
}

footer {
  font-size: 1vw;
  text-align: center;
}

ul li {
  cursor: pointer;
  font-size: 18px;
  list-style-type: none;
}

li {
  margin-right: 50px;
}

li button {
  font-size: 20px;
  background-color: transparent;
  color: darkgray;
  padding: 3px 3px;
  margin-left: 20px;
  border: none;
}

li button:hover {
  color: red;
}

.done {
  text-decoration: line-through;
}

.delete {
  position: absolute;
}

.delete:hover {
  background-color: #f44336;
  color: white;
}